Basic Configuration

* Configure repository

    Add Synergian repos to your <<<pom.xml>>> where <<<wagon-git>>> is usually released. 

+--
...
<pluginRepositories>
  <pluginRepository>
    <id>synergian-repo</id>
    <url>https://raw.github.com/synergian/wagon-git/releases</url>
  </pluginRepository>
...
</pluginRepositories>
...
+--

* Extensions section

    Add the following extension to your <<<build>>> tag:

+--
...
<build>
...
  <extensions>
    <extension>
      <groupId>ar.com.synergian</groupId>
      <artifactId>wagon-git</artifactId>
      <version>${project.version}</version>
    </extension>
  </extensions>
...
</build>
+--

* URL parts

    In the following configuration you'll URLs as the one in this example:

+--
<url>git:releases://git@github.com:synergian/wagon-git.git</url>
+--

     * <<"git">> is the extension enabled by this plugin.
     
     * <<"releases">> is the name of the <<branch>> in the target repository to use.
     
     * <<"git@github.com:synergian">> git standard domain plus username.
     
     * <<"wagon-git.git">> the target repository. 

* Next steps

    You've already included the plugin as part of your project, now proceed to {{{./github.html}Github}} or {{{./bitbucket.html}Bitbucket}} configurations.
    
    Notice that, although out of the scope of this guide, you could use this plugin with any Git repository as long as it gets published through HTTP or HTTPS access and honors the repository layout.  
